/* --------------
CSS Reset
-------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5rem;
  background-color: #fafafa;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* --------------
Utility Classes
-------------- */
.grid {
  display: -ms-grid;
  display: grid;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flow * + * {
  margin-top: var(--flow-space, 2rem);
}

.container {
  padding: 0 2rem;
  max-width: 128rem;
  margin: 0 auto;
}

.text-dark {
  color: #000000;
}

.bg-dark {
  background-color: #000000;
}

.text-light {
  color: #ffffff;
}

.bg-light {
  background-color: #ffffff;
}

.text-orange {
  color: #d97e4a;
}

.bg-orange {
  background-color: #d97e4a;
}

.bg-grey {
  color: #f2f2f2;
}

/* --------------
Components
-------------- */
.heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.heading--1 {
  font-size: 5.6rem;
  letter-spacing: 2px;
}

.heading--2 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.heading--3 {
  font-size: 3.2rem;
}

.heading--4 {
  font-size: 2.8rem;
  letter-spacing: 2px;
}

.heading--5 {
  font-size: 2.4rem;
  letter-spacing: 1.7px;
}

.heading--6 {
  font-size: 1.8rem;
  letter-spacing: 1.3px;
}

.heading--7 {
  font-size: 1.5rem;
  letter-spacing: 10px;
  color: #d97e4a;
}

.heading--8 {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #fbad83;
}

.btn {
  padding: 1.5rem 3rem;
  outline: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
  border: none;
  display: block;
  max-width: 16rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.btn--primary {
  background-color: #d97e4a;
}

.btn--primary:hover {
  background-color: #fbad83;
}

.btn--secondary {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
}

.btn--secondary:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn--tertiary {
  background-color: transparent;
  color: #000000;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 2rem 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.btn--tertiary span {
  margin-top: 2px;
  margin-left: 1.2rem;
}

.btn--tertiary:hover {
  color: #d97e4a;
}

.navbar-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
}

.navbar-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar-container ul {
  gap: 3rem;
}

.navbar-container ul li {
  list-style-type: none;
}

.navbar-container ul a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #ffffff;
}

.divider {
  height: 1px;
  background-color: #ffffff;
  opacity: 20%;
}
/*# sourceMappingURL=style.css.map */