// screen sizes
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

// colors
$clr-orange-1: #d97e4a;
$clr-orange-2: #fbad83;
$clr-dark-1: #0f0f0f;
$clr-dark-2: #000000;
$clr-dark-3: #191919;
$clr-grey-1: #f2f2f2;
$clr-grey-2: #fafafa;
$clr-white: #ffffff;

// font sizes
$fs-900: 3.6rem;
$fs-800: 2.8rem;
$fs-700: 3.2rem;
$fs-600: 2.8rem;
$fs-500: 2.4rem;
$fs-400: 1.5rem;
$fs-300: 1.5rem;
$fs-200: 1.4rem;
$fs-100: 1.3rem;

@media (min-width: 35em) {
  $fs-900: 5.6rem;
  $fs-800: 4rem;
  $fs-400: 1.8rem;
}

/* --------------
CSS Reset
-------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: $fs-300;
  background-color: $clr-grey-2;
  line-height: 1.5;
}



img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}



/* --------------
Utility Classes
-------------- */

//general
.grid { 
  display: grid;
  gap: var(--gap, 1rem);
 }

.flex { 
  display: flex;
  gap: var(--gap, 1rem);
}

.flow * + * { margin-top: var(--flow-space, 2rem); }

.container { 
  padding: 0 2rem; 
  max-width: 128rem;
  margin: 0 auto;
}

//colors
.text-dark { color: $clr-dark-2; }
.bg-dark-1 { background-color: $clr-dark-2; }
.bg-dark-2 { background-color: $clr-dark-3; }

.text-light { color: $clr-white; }
.bg-light { background-color: $clr-white; }

.text-orange { color: $clr-orange-1; }
.bg-orange { background-color: $clr-orange-1; }

.bg-grey { color: $clr-grey-1; }



/* --------------
Components
-------------- */

//headings
.heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: var(--line-height, 1.1);

  &--1 {
    font-size: $fs-900;
    letter-spacing: 2px;
  }

  &--2 {
    font-size: $fs-800;
    letter-spacing: 2px;
  }

  &--3 {
    font-size: $fs-700;
  }
  
  &--4 {
    font-size: $fs-600;
    letter-spacing: 2px;
  }
  
  &--5 {
    font-size: $fs-500;
    letter-spacing: 1.7px;
  }
  
  &--6 {
    font-size: $fs-400;
    letter-spacing: 1.3px;
  }
  
  &--7 {
    font-size: $fs-200;
    letter-spacing: 10px;
  }
  
  &--8 {
    font-size: $fs-100;
    letter-spacing: 1px;
  }
}

//buttons
.btn {
  padding: 1.5rem 3rem;
  outline: none;
  font-size: $fs-100;
  text-transform: uppercase;
  color: $clr-white;
  transition: all ease-in-out 400ms;
  border:none;
  display: block;
  max-width: 16rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;

  &--primary {
    background-color: $clr-orange-1;

    &:hover {
      background-color: $clr-orange-2;
    }
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid $clr-dark-2;
    color: $clr-dark-2;

    &:hover {
      background-color: $clr-dark-2;
      color: $clr-white;
    }
  }

  &--tertiary {
    background-color: transparent;
    color: $clr-dark-2;
    max-width: max-content;
    padding: 2rem 0;
    display: inline-flex;

    & span {
      margin-top: 2px;
      margin-left: 1.2rem;
    }

    &:hover {
      color: $clr-orange-1;
    }
  }
}

//navbar
.navbar-container {
  justify-content: space-between;
  padding: 3rem 0;

  img {
    align-self: center;
  }

  ul {
    --gap: 3rem;

    li {
      list-style-type: none;
    }

    a {
      font-weight: 700;
      text-transform: uppercase;
      font-size: $fs-100;
      color: $clr-white;
    }
  }
}
.divider {
  height: 1px;
  background-color: $clr-white;
  opacity: 20%;
}

//hero section
.hero-section {
  padding: 2rem;
  --flow-space: 2.4rem;
  background-image: url("../assets/home/desktop/image-hero.jpg");
  background-position: left bottom .8rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  justify-content: center;
  flex-direction: column;

  .heading--7 {
    opacity: 50%;
  }

  .heading--1 {
    max-width: 20ch;
  }

  p {
    opacity: 75%;
    max-width: 40ch;
  }

  .btn--primary {
    --flow-space: 4rem;
  }
}