.navbar-container {
  justify-content: space-between;
  padding: 3rem 0;

  img {
    align-self: center;
    cursor: pointer;
  }

  ul {
    --gap: 3rem;

    li {
      list-style-type: none;

      a {
        font-weight: 700;
        text-transform: uppercase;
        font-size: --fs-100;
        color: $clr-white;
        transition: all ease-in-out 300ms;

        &:hover {
          color: $clr-orange-1;
        }
      }
    }
  }
}
.divider {
  height: 1px;
  background-color: $clr-white;
  opacity: 20%;
}