:root {
  --color-darkBlue: hsl(233, 47%, 7%);
  --color-desaturatedBlue: hsl(244, 38%, 16%);
  --color-softViolet: hsl(277, 64%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-transparentWhite-1: hsla(0, 0%, 100%, 0.75);
  --color-transparentWhite-2: hsla(0, 0%, 100%, 0.6);
  --font-inter: 'Inter', sans-serif;
  --font-lexend: 'Lexend Deca', sans-serif;
  --border-radius-img: 0 1rem 1rem 0;
  --border-radius-img-m: 1rem 1rem 0 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  font-family: var(--font-inter);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-white);
}

img {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 68vw;
  margin-right: auto;
  margin-left: auto;
}

.card {
  background-color: var(--color-desaturatedBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
}

.card__stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.card__stats:not(:last-child) {
  margin: 0 5rem 0 0;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7rem 7rem 6.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  position: relative;
}

.image-section__img {
  border-radius: var(--border-radius-img);
}

.image-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-softViolet);
  opacity: 0.5;
  border-radius: var(--border-radius-img);
}

.heading-primary {
  font-size: clamp(2.5rem, 3vw, 4rem);
  line-height: 1.3;
  padding: 0 0 2.3rem;
  max-width: 80%;
}

.heading-primary--purple {
  color: var(--color-softViolet);
}

.heading-secondary {
  font-size: clamp(2rem, 2vw, 2.5rem);
  max-width: 75%;
}

.para {
  color: var(--color-transparentWhite-1);
  max-width: 90%;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.para--uppercase {
  color: var(--color-transparentWhite-2);
  text-transform: uppercase;
  font-family: var(--font-lexend);
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media (max-width: 1600px) {
  .container {
    max-width: 90%;
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
  .card {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .content-section {
    padding: 5rem;
  }
  .image-section__img {
    border-radius: var(--border-radius-img-m);
  }
  .image-section::after {
    border-radius: var(--border-radius-img-m);
  }
  .para {
    max-width: 100%;
  }
  .card__stats-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .card__stats-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__stats:not(:last-child) {
    margin: 0 0 2rem;
  }
  .content-section {
    padding: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */